:80, :443  {
    vars {
        front-service {env.FRONT_SERVICE_URL}
        auth-service {env.AUTH_SERVICE_URL}
        user-service {env.USER_SERVICE_URL}
    }

    handle /api/auth/* {
        uri strip_prefix /api
        reverse_proxy {vars.auth-service}
    }

    @users_service_router {
        path /api/users /api/users/*
    }

    handle @users_service_router {
        jwt {
            primary yes
            allow sub aud
            secret {env.JWT_SIGN_KEY}
        }

        header X-User-Id {jwt.payload.sub}
        header X-User-Role {jwt.payload.role}

        uri strip_prefix /api
        reverse_proxy {vars.user-service}
    }

    handle {
        reverse_proxy {vars.front-service}
    }
}